CompileFlags:
  Add:
    - -Ithirdparty/DAZStudio4.5+ SDK/include
    - -Ithirdparty/DAZStudio4.5+ SDK/include/QtCore
    - -Ithirdparty/DAZStudio4.5+ SDK/include/QtGui
    - -Ithirdparty/DAZStudio4.5+ SDK/include/QtScript
    - -Ithirdparty/DAZStudio4.5+ SDK/include/QtOpenGL
    - -Ithirdparty/DAZStudio4.5+ SDK/include/QtNetwork
    - -Ithirdparty/DAZStudio4.5+ SDK/include/QtSql
    - -Ithirdparty/DAZStudio4.5+ SDK/include/QtXml
    - -DWIN32
    - -D_WINDOWS
    - -DUNICODE
    - -D_UNICODE
    - -DDAZPILOTBRIDGE_EXPORTS
    - -std=c++17
