.aspectRatio {
  position: relative;
  width: 100%;
  display: block;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ratio-1\:1 { padding-bottom: 100%; }
.ratio-4\:3 { padding-bottom: 75%; }
.ratio-16\:9 { padding-bottom: 56.25%; }
.ratio-21\:9 { padding-bottom: 42.857%; }
.ratio-3\:2 { padding-bottom: 66.667%; }
.ratio-2\:3 { padding-bottom: 150%; }
.ratio-9\:16 { padding-bottom: 177.778%; }